@model NamesAndTypes.Models.AddViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<br /><br /><br />
<form asp-controller="home" asp-action="index" method="post">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="span12 columns offset4"  ng-app="app" ng-controller="controller">
            <h3>Seacrh for names and types</h3>
            <div class="clearfix">
                <div class="input">
                    <label asp-for="Name" class="input-group-text"></label>
                </div>
                <input asp-for="Name" type="text" ng-keyup="IsValid()" class="form-control" id="name" placeholder="Hello World" aria-label="Name">
                <span asp-validation-for="Name" class="text-danger" style="color:red"></span>
            </div>
            <div class="search">
                <div class="clearfix">
                    <div class="input">
                        <label asp-for="Type" class="input-group-text"></label>
                    </div>
                    <input type="text" asp-for="Type" ng-keyup="[keyup(),IsValid()]" data-toggle="tooltip" title="This is my text, do not touch!" autocomplete="off" id="type2" class="form-control" placeholder="Type" aria-label="Type">
                    <span asp-validation-for="Type" class="text-danger" style="color:red"></span>
                </div>
                <div class="result bg-info d-none" ng-show="IsVisible">
                    <ul class="list-group result-items">
                        <li ng-repeat="type in types" ng-click="selectType(type.Type)" class="list-group-item resultType">{{type.Type}}</li>
                        <li class="list-group-item" ng-show="notFound">Nothing is found</li>
                    </ul>
                </div>
            </div>
            <button type="submit" id="submit" class="btn btn-info" disabled>Submit</button>
        </div>

    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        var app = angular.module('app', [])
        app.controller('controller', function ($scope, $http) {
            $scope.IsVisible = false;
            $scope.notFound = false;
            $scope.keyup = function () {
                var searchValue = angular.element('#type2').val();
                if (searchValue.length >= 3) {
                    angular.element('.result').addClass('d-block');
                    $scope.IsVisible = true;
                    var getRequest = $http({
                        method: "GET",
                        url: "https://localhost:44349/home/GetTypes",
                        dataType: "json",
                        params: { searchText: searchValue },
                    }).then(function (result) {
                        var element = [];

                        if (result.data.length != 0) {
                            $scope.notFound = false;
                            $scope.types = result.data;
                        }
                        else {
                            angular.element('.resultType').remove();
                            $scope.notFound = true;
                        }
                    });
                }
                else {
                    angular.element('.result').removeClass('d-block');
                    $scope.IsVisible = false;
                }
            }

            $scope.IsValid = function () {
                var typeVal = angular.element('#type2').val();
                var nameValue = angular.element('#name').val();
                if (nameValue.length >= 4 && typeVal.length >= 4) {
                    angular.element('#submit').removeAttr('disabled');
                }
                else {
                    angular.element('#submit').attr('disabled','');
                }
            }

            $scope.selectType = function (content) {
                angular.element('#type2').val(content);
                angular.element('.result').removeClass('d-block');
                angular.element('.resultType').remove();
            }
        });
    </script>
}